.container{
    padding: 20px;
    border-radius:10px ;
    height: max-content;
/* From https://css.glass */
background: rgba(10, 13, 48, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.6px);
-webkit-backdrop-filter: blur(2.6px);
border: 1px solid rgba(10, 13, 48, 0.3);
}
.ColumnFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.imgLogo {
    position: relative;
    width: 40%; /* The image container takes 40% of the parent width */
    height: 0;
    padding-bottom: 30%; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between image and the rest of the content */
  }

  

.containerwrap{
    padding-left: 10px;
    padding-top: 20px;
}
.loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container:hover{
/* From https://css.glass */
/* From https://css.glass */
background: rgba(1, 2, 26, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
border: 1px solid rgba(1, 1, 54, 0.57);
  }
.title{
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--textSoft);
}

.table{
    width: 100%;   
}

.table td{
    padding: 10px;
}

.user{
    display: flex;
    gap: 10px;
    align-items: center;
}

.userImage{
    object-fit: cover;
    border-radius: 50%;
}

.status{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.pending{
    background-color: #f7cb7375;
}

.done{
    background-color: #00ff2fa2;
}

.cancelled{
    background-color: #f7737375;
}