@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #06101d;
  --bgsoft: #102b50;
  --text: rgba(238, 231, 231, 0.886);
  --textSoft: rgba(255, 255, 255, 0.434);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  color: var(--text);
}
a {
  color: inherit;
}
/* add for intro */

.containerhere {
  text-align: center;
  margin-top: 5%;
}
.testcolor {
  color: rgb(13, 52, 52);
  background-color: blue;
}
#title spanhere {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonhere {
  border: none;
  position: static;
  width: 75%;
  height: 75%;
  padding: 0;
  z-index: 2;
  mask: url("../../../public/eye.svg") 50% 50%;
  -webkit-mask-size: 100%;
  cursor: pointer;
  background-color: transparent;
  transform: translateY(8px);
}

.buttonhere:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 4px 0 0 0 rgb(0, 0, 0);
  transition: all 2s ease;
}

.buttonhere:hover:after {
  box-shadow: 0px -80px 50px 30px #000000b2;
}

.buttonhere .spanhere {
  position: absolute;
  width: 100%;
  font-size: 80px;
  font-weight: 250;
  left: 50%;
  top: 50%;
  letter-spacing: 3px;
  text-align: center;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  transition: all 2s ease;
}

.buttonhere:hover .spanhere {
  color: black;
}

.buttonhere:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.buttonhere:hover:before {
  width: 100%;
}

/* .containerhere {
  text-align: center;
  margin-top: 5%;
}
#title .spanhere {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonhere {
  border: none;
  position: static;
  width: 75%;
  height: 75%;
  padding: 0;
  z-index: 2;
  mask: url("../../../public/eye.svg") 50% 50%;
  -webkit-mask-size: 100%;
  cursor: pointer;
  background-color: transparent;
  transform: translateY(8px);
}

.buttonhere:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 4px 0 0 0 rgb(0, 0, 0);
  transition: all 2s ease;
}

.buttonhere:hover:after {
  box-shadow: 0px -80px 50px 30px #000000b2;
}

.buttonhere spanhere {
  position: absolute;
  width: 100%;
  font-size: 80px;
  font-weight: 250;
  left: 50%;
  top: 50%;
  letter-spacing: 3px;
  text-align: center;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  transition: all 2s ease;
}

.buttonhere:hover .spanhere {
  color: black;
}

.buttonhere:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.buttonhere:hover:before {
  width: 100%;
} */

/* added for background */
html,
body {
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(ellipse at top, #080e21 0%, #0e1013 95%);
}

.star {
  width: 1px;
  height:1px;
  background: transparent;
  box-shadow: 1980px 720px #fff, 1714px 163px #fff, 1587px 326px #fff,
    770px 800px #fff, 934px 669px #fff, 1790px 962px #fff, 1788px 263px #fff,
    336px 640px #fff, 259px 155px #fff, 342px 31px #fff, 228px 112px #fff,
    716px 481px #fff, 318px 865px #fff, 378px 130px #fff, 1163px 347px #fff,
    347px 651px #fff, 1836px 153px #fff, 1114px 963px #fff, 389px 264px #fff,
    868px 534px #fff, 477px 472px #fff, 899px 808px #fff, 739px 327px #fff,
    512px 24px #fff, 1555px 716px #fff, 1687px 282px #fff, 1583px 984px #fff,
    1061px 819px #fff, 1068px 381px #fff, 82px 692px #fff, 1884px 7px #fff,
    1277px 420px #fff, 729px 289px #fff, 1382px 583px #fff, 1391px 724px #fff,
    1450px 479px #fff, 1073px 251px #fff, 1561px 388px #fff, 1230px 908px #fff,
    954px 76px #fff, 100px 800px #fff, 1283px 751px #fff, 149px 389px #fff,
    1002px 891px #fff, 596px 649px #fff, 567px 170px #fff, 1681px 70px #fff,
    721px 352px #fff, 1020px 711px #fff, 1021px 498px #fff, 192px 578px #fff,
    963px 876px #fff, 1844px 554px #fff, 552px 435px #fff, 1895px 815px #fff,
    1323px 287px #fff, 118px 62px #fff, 449px 436px #fff, 1270px 804px #fff,
    1059px 60px #fff, 1368px 504px #fff, 1650px 260px #fff, 1226px 417px #fff,
    64px 268px #fff, 101px 630px #fff, 1707px 662px #fff, 631px 413px #fff,
    1700px 904px #fff, 138px 246px #fff, 226px 880px #fff, 1334px 771px #fff,
    1659px 62px #fff, 1628px 394px #fff, 241px 463px #fff, 978px 706px #fff,
    1264px 296px #fff, 892px 316px #fff, 1749px 166px #fff, 303px 188px #fff,
    1382px 685px #fff, 758px 167px #fff, 1723px 547px #fff, 1006px 934px #fff,
    825px 818px #fff, 548px 575px #fff, 1682px 725px #fff, 1501px 180px #fff,
    1871px 750px #fff, 730px 750px #fff, 351px 708px #fff, 61px 47px #fff,
    137px 20px #fff, 488px 490px #fff, 1117px 23px #fff, 927px 544px #fff,
    749px 364px #fff, 1478px 650px #fff, 179px 307px #fff, 1325px 594px #fff,
    287px 296px #fff, 661px 453px #fff, 1829px 328px #fff, 1879px 600px #fff,
    178px 693px #fff, 1003px 880px #fff, 1026px 187px #fff, 1112px 12px #fff,
    766px 403px #fff, 1116px 457px #fff, 1281px 630px #fff, 172px 37px #fff,
    983px 841px #fff, 1410px 650px #fff, 1818px 643px #fff, 1761px 573px #fff,
    1804px 393px #fff, 1138px 571px #fff, 335px 641px #fff, 1605px 549px #fff,
    49px 928px #fff, 1060px 992px #fff, 1129px 795px #fff, 1326px 977px #fff,
    653px 775px #fff, 1449px 591px #fff, 416px 336px #fff, 1560px 803px #fff,
    308px 631px #fff, 1085px 960px #fff, 22px 356px #fff, 1174px 956px #fff,
    1633px 82px #fff, 849px 77px #fff, 590px 773px #fff, 522px 697px #fff,
    1815px 392px #fff, 292px 34px #fff, 794px 179px #fff, 1756px 532px #fff,
    1083px 667px #fff, 202px 197px #fff, 1785px 707px #fff, 1621px 430px #fff,
    983px 221px #fff, 1011px 769px #fff, 691px 508px #fff, 1484px 811px #fff,
    375px 88px #fff, 892px 985px #fff, 84px 355px #fff, 936px 394px #fff,
    914px 153px #fff, 952px 702px #fff, 837px 573px #fff, 1451px 733px #fff,
    1283px 256px #fff, 1844px 538px #fff, 1659px 861px #fff, 1181px 840px #fff,
    1884px 796px #fff, 309px 891px #fff, 1192px 956px #fff, 1514px 173px #fff,
    520px 636px #fff, 853px 453px #fff, 678px 762px #fff, 1335px 879px #fff,
    1197px 873px #fff, 1221px 366px #fff, 664px 982px #fff, 1092px 848px #fff,
    683px 289px #fff, 1170px 57px #fff, 1733px 582px #fff, 1611px 820px #fff,
    810px 464px #fff, 738px 754px #fff, 117px 823px #fff, 339px 897px #fff,
    1056px 113px #fff, 345px 272px #fff, 447px 968px #fff, 1334px 482px #fff,
    909px 498px #fff, 779px 849px #fff, 1165px 658px #fff, 204px 85px #fff,
    1539px 631px #fff, 1153px 701px #fff, 1187px 402px #fff, 1397px 822px #fff,
    785px 169px #fff, 1385px 512px #fff, 82px 583px #fff, 300px 570px #fff,
    1333px 272px #fff, 1608px 964px #fff, 1664px 706px #fff, 1663px 896px #fff,
    972px 604px #fff, 1915px 339px #fff, 1501px 868px #fff, 538px 610px #fff,
    378px 979px #fff, 1092px 170px #fff, 11px 170px #fff, 1583px 812px #fff,
    1443px 179px #fff, 1885px 303px #fff, 851px 191px #fff, 786px 307px #fff,
    813px 179px #fff, 1890px 860px #fff, 84px 869px #fff, 510px 136px #fff,
    442px 20px #fff, 350px 211px #fff, 880px 302px #fff, 1705px 917px #fff,
    177px 74px #fff, 1308px 270px #fff, 129px 872px #fff, 1471px 372px #fff,
    416px 947px #fff, 451px 808px #fff, 1288px 324px #fff, 1618px 635px #fff,
    885px 848px #fff, 902px 704px #fff, 1591px 10px #fff, 326px 419px #fff,
    1368px 322px #fff, 508px 411px #fff, 1423px 411px #fff, 207px 673px #fff,
    803px 162px #fff, 318px 98px #fff, 63px 923px #fff, 326px 595px #fff,
    410px 180px #fff, 1181px 705px #fff, 683px 246px #fff, 664px 207px #fff,
    1901px 951px #fff, 485px 924px #fff, 1832px 23px #fff, 870px 79px #fff,
    1110px 868px #fff, 271px 919px #fff, 616px 591px #fff, 197px 675px #fff,
    1421px 268px #fff, 679px 193px #fff, 1628px 185px #fff, 1276px 884px #fff,
    434px 671px #fff, 779px 982px #fff, 492px 17px #fff, 297px 266px #fff,
    1216px 689px #fff, 321px 865px #fff, 257px 948px #fff, 1284px 55px #fff,
    789px 351px #fff, 461px 377px #fff, 529px 444px #fff, 1807px 639px #fff,
    1419px 885px #fff, 1072px 296px #fff, 1097px 97px #fff, 755px 485px #fff,
    345px 514px #fff, 667px 209px #fff, 27px 118px #fff, 16px 769px #fff,
    996px 463px #fff, 1774px 92px #fff, 537px 362px #fff, 464px 341px #fff,
    589px 823px #fff, 762px 446px #fff, 921px 41px #fff, 758px 908px #fff,
    818px 23px #fff, 1011px 607px #fff, 952px 904px #fff, 827px 478px #fff,
    65px 826px #fff, 1516px 202px #fff, 278px 108px #fff, 175px 882px #fff,
    414px 941px #fff, 1508px 882px #fff, 173px 605px #fff, 1134px 914px #fff,
    1493px 537px #fff, 1247px 385px #fff, 941px 198px #fff, 1051px 317px #fff,
    9px 937px #fff, 484px 887px #fff;
}

.meteor-1 {
  position: absolute;
  top: 118px;
  left: 59%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.5s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 153px;
  left: 77%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.8s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 170px;
  left: 59%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.9s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 197px;
  left: 98%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 72px;
  left: 18%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.5s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 200px;
  left: 98%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.5s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 83px;
  left: 82%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.8s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 291px;
  left: 59%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.4s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 295px;
  left: 82%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.4s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 150px;
  left: 11%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.4s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 103px;
  left: 65%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.4s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 274px;
  left: 21%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 153px;
  left: 37%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.2s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 285px;
  left: 45%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.1s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 103px;
  left: 36%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.7s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
