.container{
    padding: 20px;
    border-radius:10px ;
 /* From https://css.glass */
 background: rgba(1, 1, 18, 0.69);
 box-shadow: 0 4px 30px rgba(52, 52, 52, 0.1);
 backdrop-filter: blur(8.9px);
 -webkit-backdrop-filter: blur(8.9px);
 border: 1.5px solid rgba(240, 243, 255, 0.09);
}
.container:hover{
    /* From https://css.glass */
background: 06101d;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
border: 1px solid rgba(240, 243, 255, 0.09);
  }
.title{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
}

.table{
    width: 100%;   
}

.table td{
    padding: 10px;
}

.user{
    display: flex;
    gap: 10px;
    align-items: center;
}

.userImage{
    object-fit: cover;
    border-radius: 50%;
}

.status{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.pending{
    background-color: #f7cb7375;
}

.done{
    background-color: #00ff2fa2;
}

.cancelled{
    background-color: #f7737375;
}